.jumbotron {
  padding-top: 7rem;
  background-color: #edb682;
}
#project {
  background-color: #edb682;
}

section {
  padding-top: 5rem;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #edb682;
}

.bg-red {
  background-color: #69260b !important;
}

.btn-warning {
  background-color: #69260b !important;
  color: white !important;
  border-color: #69260b !important;
  width: 150px;
}
